@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

body {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://images.unsplash.com/photo-1579251036612-763428d54cde?q=80&w=1974&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.medieval-title {
    font-family: 'Cinzel', serif;
}